/* Colors:

Red: #ef4025
Dark Copper: #ba553a
Light Copper: #f58c66
Blue: #2a2a92

*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: Alex;
    src: url("../fonts/AlexBrush-Regular.ttf");
}

body {
    background-image: url("../img/paper-bg.jpg");
    background-attachment: fixed;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h2 {
    font-family: Alex;
    font-size: 4em;
    color: #ef4025;
    text-align: center;
    margin: 0;
}

@media all and (min-width: 600px) {
    h2 {
        font-size: 3em;
        text-align: left;
    }
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #2a2a92;
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
}

@media all and (min-width: 1100px) {
    h3 {
        text-align: left;
    }
}

h4 {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #2a2a92;
    font-size: 1.3em;
    padding-top: 10px;
    text-align: center;
}

@media all and (min-width: 600px) {
    h4 {
        text-align: left;
    }
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #494949;
}

/******** Links ********/

a {
    color: #ef4025;
    text-decoration: none;
    border-bottom: 1px solid #ef4025;
    padding-bottom: 1px;
}

a:hover {
    color: #ba553a;
    border-bottom: 3px solid #ba553a;
}

/******** Wrappers ********/

.headerwrapper {
    width: 100%;
    margin-top: 1em;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

/******** Logo ********/

.logo {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
    padding: 0 0.5em;
}

/******** Navigation ********/

nav {
    margin: 40px 0 0 0;
    background-color: #ffffff;
    text-align: center;
    opacity: 0.9;
    border-radius: 14px;
    margin: 0.5em;
}

@media all and (min-width: 600px) {
    nav {
        margin: 2em;
    }
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

@media all and (min-width: 600px) {
    nav ul {
        padding: 2em 0 2em 0;
    }
}

nav ul li {
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0.5em;
}

@media all and (min-width: 600px) {
    nav ul li {
        display: inline;
    }
}

@media all and (min-width: 1100px) {
    nav ul li {
        font-size: 1.8em;
        font-weight: 300;
        letter-spacing: 2px;
    }
}

nav a {
    border: none;
    padding: 0 0.5em 0 0.5em;
    transition: all 0.1s ease-in-out;
    color: #1b4765;
}

nav a:hover {
    border: none;
    background-color: #eeeeee;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #faab64;
}

/******** Main Content ********/

main {
    background-color: #ffffff;
    max-width: 1000px;
    padding: 10px 15px;
    margin: 0.5em;
}

@media all and (min-width: 600px) {
    main {
        margin: 2em;
    }
}

section {
    width: 90%;
    margin: auto;
}

section + section {
    padding-top: 2em;
}

@media all and (min-width: 850px) {
    .copy {
        width: 80%;
    }
}

.bowtie {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

/******** Footer ********/

footer {
    padding: 1em;
    background-color: #ffffff;
    text-align: center;
    opacity: 0.8;
    font-size: 0.8em;
    margin: 0.6em;
    border-radius: 15px;
}

@media all and (min-width: 600px) {
    footer {
        margin: 2.4em;
    }
}

.footer-content {
    padding: 0;
    margin: 0;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    display: inline;
    padding: 0 5px;
}

footer ul li a {
    color: #ba553a;
    border: none;
}

footer ul li a:hover {
    color: #f58c66;
    border: none;
}

/******** Button ********/

.buttonwrapper {
    padding-top: 1em;
    display: inline-block;
}

.button {
    padding-top: 1em;
    display: inline-block;
}

.button + .button {
    padding-left: 1.5em;
}

.button a,
input[type=submit] {
    background-color: #eeeeee;
    border: 3px solid #ba553a;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6em 2em;
    color: #ba553a;
    letter-spacing: 1px;
}

.button a:hover,
input[type=submit]:hover {
    border: 3px solid #f58c66;
    background-color: #f58c66;
    color: white;
}

input[type=submit] {
    max-width: 200px;
    margin: auto;
    margin-top: 20px;
}

/******** Full-width Colors ********/

#left,
#right {
    background: none;
}

@media all and (min-width: 1100px) {
    #left,
    #right {
        background: #ef4025;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 15px;
    }

    #left {
        left: 0;
    }

    #right {
        right: 0;
    }
}

/********* INDEX ONLY *********/

.image-slider img {
    margin-top: 1em;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 1em;
}

.full {
    width: 100%;
}

.showcase-wrapper {
    position: relative;
}

@media all and (min-width: 1100px) {
    .promotional {
        width: calc(100% / 2 - 1em);
        float: left;
        margin: 0.5em;
    }
}

@media all and (min-width: 1100px) {
    .promotional h3 {
        text-align: center;
    }
}

.showcase-wrapper img {
    max-width: 500px;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 100%;
}

@media all and (min-width: 600px) {
    .showcase-wrapper img {
        display: block;
        margin: auto;
    }
}

@media all and (min-width: 1100px) {
    .showcase-wrapper img {
        display: inline-block;
    }
}

.text-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 2.5em 1em;
    background: rgba(27, 71, 101, 0.72);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    font-size: 1.2em;
    letter-spacing: 1px;
}

@media all and (min-width: 600px) {
    .text-overlay {
        font-size: 2.5em;
        padding: 2.1em 1em;
        width: 83%;
        display: block;
        margin: auto;
    }
}

@media all and (min-width: 1100px) {
    .text-overlay {
        font-size: 2em;
        padding: 2.5em 1em;
        width: 100%;
        display: block;
        margin: auto;
    }
}

.showcase-wrapper:hover .text-overlay {
    visibility: visible;
    opacity: 1;
}

.text-overlay p {
    color: #ffffff;
    margin: 0;
}

.bold {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    color: #ffffff;
}

/********* ABOUT PAGE *********/

.photo {
    width: 100%;
}

.remy {
    image-background: url("remy");
    width: 100%;
    height: auto;
}

@media all and (min-width: 600px) {
    .photo,
    .remy {
        max-width: 300px;
        float: right;
        padding: 10px;
        border: 1px solid #cccccc;
        margin-left: 20px;
    }
}

figure img {
    border: 1px #cccccc solid;
    padding: 10px;
    width: 100%;
}

figcaption {
    margin: 1em 0;
    text-align: center;
    font-style: italic;
}

/********* CONTACT PAGE *********/

.hours {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #494949;
}

form {
    width: 100%;
    margin: auto;
    max-width: 500px;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 2em;
}

label {
    margin-bottom: 5px;
}

form input,
form textarea {
    display: block;
    margin: 5px 0 10px 0;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 100%;
}

/********* MENU PAGE *********/

.menu-name {
    text-align: center;
}

.menu-price {
    text-align: center;
}

@media all and (min-width: 1100px) {
    .menu-name {
        float: left;
    }

    .menu-price {
        float: right;
    }
}

.name {
    float: left;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
}

.price {
    float: right;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.2em;
}

.food-desc {
    clear: both;
    max-width: 80%;
}


/****** MIX IT UP MENU ******/

/* overall container */

.mix-it-up-container {
    padding: 2%;
}

.mix-it-up-container label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 1em 0.4em 0 0;
    display: block;
    padding-bottom: 1em;
}

.mix-it-up-container button {
    display: inline-block;
    padding: 0.4em 0.8em;
    margin-bottom: 0.4em;
    background: #666666;
    border: 0;
    color: #dddddd;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}

@media all and (min-width: 600px) {
    .mix-it-up-container button {
        font-size: 1.3em;
    }
}

@media all and (min-width: 1100px) {
    .mix-it-up-container button {
        font-size: 1em;
    }
}

.mix-it-up-container button.active {
    background: red;
}

.mix-it-up-container button:focus {
    outline: 0 none;
}

/* individual categories */

.drinks {
    border-right: 4px solid gold;
}

.wine {
    border-right: 4px solid red;
}

.appetizers {
    border-right: 4px solid green;
}

.entrees {
    border-right: 4px solid blue;
}

.desserts {
    border-right: 4px solid brown;
}

/* container for the content */

.mix-it-content-container {
    padding: 2% 2% 0;
    text-align: justify;
    background: #eaeaea;
}

.mix-it-content-container .mix,
.mix-it-content-container .gap {
    display: inline-block;
    width: 49%;
    height: auto;
}

.mix-it-content-container .mix {
    padding: 1%;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 2%;
    display: none;
}

@media all and (min-width: 420px) {
    .mix-it-content-container .mix,
    .mix-it-content-container .gap {
        width: 32%;
    }
}

@media all and (min-width: 640px) {
    .mix-it-content-container .mix,
    .mix-it-content-container .gap {
        width: 23.5%;
    }
}
